.App {
  text-align: center;
}

.outter-card{
  background:rgb(168, 168, 168);
  margin:10px;
  display:flex;
  flex-direction: column;
  border-radius: 8px;


}

.button{
  margin:10px;
  padding: 10px 20px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  background:rgb(255, 255, 255);
  border: 2px solid rgb(228, 228, 228); 
  border-radius: 8px;
}

.cards {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background:rgb(230, 227, 227);
  color:rgb(39, 39, 39);
  padding:10px;
  width: 500px;
  height:200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  border-radius: 8px 8px 0 0;

}

h1,p {
  margin:1px 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
